.card {
	width: 230px;
	height: 152px;
	xpadding: 5px; float: left;
	xmargin: 0 10px 10px 0;
	font-size: .9em;



	overflow: hidden;

	position: absolute;
	z-index: 10;

	top: 460px;
	left: 0px;

	display: block;
}

.pink {
}

.yellow {
}

.blue {
}

.green {
}

.card-image {
	position: absolute;
	xtop: -10;
	left: -3px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: -1000;
}

.content {
	overflow: hidden;
	display: block;
	width: 158px;
	height: 88px;
	margin: 5px 23px 0px 34px;

	font-family: 'Covered By Your Grace',"Arial Rounded MT Bold", arial, serif;
	font-size: 18px;
	letter-spacing: 0px;

	xtext-shadow: 0px 0px 1px #444;

	opacity: 1;

	color: black;
	text-align: center;
	padding-top: 18px;
	xline-height: 16px;

	xopacity: .8;

}

.filler {
	margin-right: 34px;
	margin-bottom: 42px;
	margin-left: 25px;
}

.stickertarget {
	position: absolute;
}



.sticky {
	width: 112px;
	height: 100px;
	xpadding: 5px; float: left;
	xmargin: 0 10px 10px 0;
	font-size: .9em;



	overflow: visible;

	position: absolute;
	z-index: 10;

	top: 460px;
	left: 0px;

	display: block;
}

.sticky .content {
	overflow: hidden;
	display: block;
	width: 73px;
	height: 68px;
	margin: 1px 3px 0px 32px;

	font-family: 'Covered By Your Grace',"Arial Rounded MT Bold", arial, serif;
	font-size: 16px;
	letter-spacing: 0px;

	xtext-shadow: 0px 0px 1px #444;

	opacity: .9;

	color: black;
	text-align: center;
	padding-top: 4px;
	xline-height: 16px;

	align-items: center;
    justify-content: center;
    display: flex;
}

.sticky .card-icon {
	left: 100px;
	top: -5px;
}

.sticky .card-icon2 {
	left: 100px;
	top: 14px;
	
}

.sticky .filler {
	margin-right: 5px;
    margin-bottom: 23px;
    margin-left: 25px;
}