div#cardSelectorButton
	i.fa.fa-plus
div#cardSelector
	h3 Cards
	ul#largeCards
		li
			image#create-card-story.bottom-icon(width="72", height="48", src="/images/green-card.png")
		li
			image#create-card-task.bottom-icon(width="72", height="48", src="/images/blue-card.png")
		li
			image#create-card-spike.bottom-icon(width="72", height="48", src="/images/white-card.png")
		li
			image#create-card-general.bottom-icon(width="72", height="48", src="/images/yellow-card.png")
		li
			image#create-card-bug.bottom-icon(width="72", height="48", src="/images/red-card.png")
	ul#smallCards
		li
			image#create-card-story-small.bottom-icon(width="48", height="36", src="/images/green-card.png")
		li
			image#create-card-task-small.bottom-icon(width="48", height="36", src="/images/blue-card.png")
		li
			image#create-card-spike-small.bottom-icon(width="48", height="36", src="/images/white-card.png")
		li
			image#create-card-general-small.bottom-icon(width="48", height="36", src="/images/yellow-card.png")
		li
			image#create-card-bug-small.bottom-icon(width="48", height="36", src="/images/red-card.png")
	h3 Postit
	ul#postIt
		li
			image#create-card-postit.bottom-icon(width="48", height="38", src="/images/postit-card.png")
	h3 Stickers
	ul#stickers
		li
			div.sticker#sticker-red.sticker-red
		li
			div.sticker#sticker-blue.sticker-blue
		li
			div.sticker#sticker-yellow.sticker-yellow
		li
			div.sticker#sticker-green.sticker-green
		li
			div.sticker#sticker-gold.sticker-gold
		li
			div.sticker#sticker-bluestar.sticker-bluestar
		li
			div.sticker#sticker-redstar.sticker-redstar
		li
			div.sticker#sticker-silverstar.sticker-silverstar
		li
			div.sticker#sticker-none.sticker-none

