doctype html
html(lang="en")
	head

		<!-- STYLES -->
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<link rel="stylesheet" title="cardsize" href="css/bigcards.css" type="text/css" media="all" />

		<!-- FONTS -->
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@100&family=Covered+By+Your+Grace&family=Rock+Salt&display=swap" rel="stylesheet">

		<!-- SCRIPTS -->

		<!-- jQuery -->
		<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
		<script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>

		<!-- External Scripts -->
		<script src="lib/jquery.ui.touch-punch.min.js"></script>
		<script src="lib/jquery.jeditable.js"></script>
		<script src="lib/jquery.blockUI.js"></script>

		<!-- Socket.IO -->
		<script src="socket.io/socket.io.js"></script>

		<!-- ** My Script ** -->
		<script src="script.js"></script>


		title= locals.pageTitle

	body
		block body
