div.stickers
	div.sticker#sticker-red
		image(src="/images/stickers/process/32x32/sticker-red.png")
	div.sticker#sticker-blue
		image(src="/images/stickers/process/32x32/sticker-blue.png")
	div.sticker#sticker-yellow
		image(src="/images/stickers/process/32x32/sticker-yellow.png")
	div.sticker#sticker-green
		image(src="/images/stickers/process/32x32/sticker-green.png")
	br
	div.sticker#sticker-gold
		image(src="/images/stickers/process/32x32/sticker-gold.png")
	div.sticker#sticker-bluestar
		image(src="/images/stickers/process/32x32/sticker-bluestar.png")
	div.sticker#sticker-redstar
		image(src="/images/stickers/process/32x32/sticker-redstar.png")
	div.sticker#sticker-silverstar
		image(src="/images/stickers/process/32x32/sticker-silverstar.png")
	br
	div.sticker#sticker-none
		image(src="/images/stickers/process/32x32/sticker-none.png")
	br

